/*Page styles*/

body {
    background-color: #433e54;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-weight: 400;
}

.form-container {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 25vw;
    padding: 25px;
    flex-direction: column;
}

.form {
    display: flex;  
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

label {
    color: gray;
}

button {
    align-self: center;
    border-radius: 2px;
    background-color: #236bde;
    color: white;
    height: 40px;
    width: 100%;
    border: 1px;
}

input {
    width: 25vw;
    height: 5vh;
    border-radius: 2px;
    border: 1px solid black;
    outline: none;
}

/*Form Validation Styles*/

.username-error,
.email-error,
.password-error,
.confirm-password-error {
    color: red;
}

.error-highlight {
    border: 2px solid red;
}

.valid-highlight {
    border: 2px solid green;
}

.fa-eye{
    cursor: pointer;
    color: grey;
}

.fa-eye-slash{
    cursor: pointer;
    color: grey;
}

.pop-up {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    height: 45vh;
    border-radius: 5px;
    width: 35%;
    background-color: #f4ffc7;
}

.close-pop-up {
    width: 50%;
}

.display-hidden {
    display: none;
}

.password-container {
    position: relative;
    margin-bottom: 2vh;
}

.confirm-password-container {
    position: relative; 
    margin-bottom: 5vh;
}

.i-class {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%); 
}

/* Responsive design */

@media all and (min-width: 700px) {
    .form-container {
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        width: 50vw;
        padding: 25px;
        flex-direction: column;
    }

    input {
        width: 50vw;
        height: 5vh;
        border-radius: 3px;
        border: 3px solid black;
        outline: none;
    }
}

